/******************
 * General styles *
 ******************/

@font-face {
  font-family: "Hoefler";
  src: url("res/Hoefler-Text.ttf");
}

* {
  color: white;
  font-family: "Hoefler";
  text-align: justify;
  /* recommand to change from "left" */
}

body {
  margin: 0;
  background-color: rgb(27, 10, 52);
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
span {
  /** blurred shadow around text */
  text-shadow: 0 0 8px white;
}


/**********************************
 * Contents on the righthand side *
 **********************************/

.main-container {
  max-height: 100vh;
}

.info {
  width: 55%;
  /* recommand to change from "30%" */
  padding-left: 4%;
  display: none;
}

.info#home {
  display: block;
  /* Overwrite .info display none to show it up in the biginning. */
}

img[id^="cons"] {
  max-height: 15em;
}

h1 {
  font-weight: normal;
  font-size: 4.5em;
  margin-block-start: 0;
  margin-block-end: -0.19em;
}

hr {
  /* Change the style of a rectangle to a line. */
  border: none;
  height: 1px;
  background-color: white;
}

.normal-text {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: medium;
  /* recommand to change from "small" */
}

#take-a-view {
  color: black;
  font-size: medium;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


/***************************************
 * Home star (on the top right corner) *
 ***************************************/

.home-star-container {
  position: fixed;
  right: 0;
  padding-right: 2%;
  top: 8vh;
  align-items: center;
  justify-content: right;
  display: none;
  opacity: 0.75;
}

.home-star-container>div {
  transition: 0.4s;
}

.home-star {
  margin-top: 4%;
  padding-left: 0;
  float: right;
  height: 1.2em;
  font-size: 1.2em;
  cursor: pointer;
}

div.home-star-container:hover {
  height: 1.25em;
  font-size: 1.25em;
  opacity: 1;
}


/*********************************************
 * Background images (on the left or bottom) *
 *********************************************/

#background {
  height: 100%;
  /* cannot be 100% for protrait view */
  width: max-content;
  position: absolute;
  right: 0;
  bottom: 0;
}

#solar {
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  right: 0;
  z-index: -1;
}

#rocket {
  position: fixed;
  right: -75%;
  top: 67vh;
  height: 330%;
  max-height: unset;
  max-width: unset;
  z-index: -1;
}

.rocket-rotation {
  animation: rocket-rotation 2.5s cubic-bezier(0.41, 0.33, 0.71, 0.64) forwards;
}

@keyframes rocket-rotation {
  0% {
    right: -75%;
    top: 67vh;
  }
  6% {
    right: -65.5%;
    top: 60vh;
    transform: rotate(9deg);
  }
  12% {
    right: -56.5%;
    top: 49vh;
    transform: rotate(18deg);
  }
  18% {
    right: -48.5%;
    top: 34vh;
    transform: rotate(27deg);
  }
  24% {
    right: -41%;
    top: 17vh;
    transform: rotate(36deg);
  }
  30% {
    right: -35%;
    top: -3vh;
    transform: rotate(45deg);
  }
  36% {
    right: -31.5%;
    top: -27vh;
    transform: rotate(54deg);
  }
  42% {
    right: -30%;
    top: -53vh;
    transform: rotate(63deg);
  }
  48% {
    right: -30%;
    top: -79vh;
    transform: rotate(72deg);
  }
  54% {
    right: -33%;
    top: -104vh;
    transform: rotate(81deg);
  }
  60% {
    right: -36%;
    top: -128vh;
    transform: rotate(90deg);
  }
  100% {
    right: -75%;
    top: -128vh;
    transform: rotate(90deg);
  }
}

.rocket-move-up {
  animation: rocket-move-up 800ms linear forwards;
}

@keyframes rocket-move-up {
  from {
    top: 100vh;
  }
  to {
    top: 67vh;
  }
}


/**************************************
 * The pages of the 12 constellations *
 **************************************/

img[id^="cons"] {
  margin-top: 5vh;
}


/****************************************
 * Hard-coded 12 stars on the home page *
 ****************************************/

.zodiac-main-container {
  width: 50vw;
  margin-top: 8vh;
  padding-left: 4vw;
}

td {
  border-spacing: 0;
  width: 25%;
  text-align: left;
  vertical-align: top;
}

img[id^="star"] {
  object-fit: contain;
  opacity: 60%;
  transition: 0.4s;
  cursor: pointer;
}

img[id^="star"]:hover {
  opacity: 100%;
}

img[id^="star"]+p {
  margin-top: -5%;
  margin-bottom: -5%;
  opacity: 0;
  transition: 0.4s;
  cursor: default;
}

img#star1+p,
img#star2+p,
img#star10+p {
  margin-left: -5%;
}

img#star4+p,
img#star5+p,
img#star11+p,
img#star12+p {
  margin-left: 25%;
}

img#star6+p {
  margin-left: 45%;
}

img#star7+p,
img#star8+p {
  margin-left: 70%;
}

img[id^="star"]:hover+p {
  /* name of a star*/
  opacity: 100%
}

img[src="img/star-large-white.png"] {
  height: 30px;
}

img[src="img/star-small.png"] {
  height: 22px;
}

img[src="img/star-large-blue.png"] {
  height: 28px;
}

img#star1 {
  margin: 4% 0 0 3%;
}

img#star2 {
  margin: 30% 0 0 1%;
}

img#star3 {
  margin: 2% 0 0 2%;
}

img#star4 {
  margin: 0% 0 0 31%;
}

img#star5 {
  margin: 25% 0 0 36%;
}

img#star6 {
  margin: 20% 0 0 49%;
}

img#star7 {
  margin: 0% 0 0 69%;
}

img#star8 {
  margin: 0% 0 0 81%;
}

img#star9 {
  margin: 60% 0 0 5%;
}

img#star10 {
  margin: 35% 0 0 0;
}

img#star11 {
  margin: 10% 0 0 40%;
}

img#star12 {
  margin: 0in 0 0 36%;
}